<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div id="welcome">
        <h1>Welcome <%= @user.fname %> <%= @user.lname %> </h1>
        </div>
        <div id="direction">
        <h2>Please select all the schools you would like a Veteran Admissions Officer to contact you from</h2>
        </div>
        <div id="data">
        <table id = "vet-data">
            <tr>
                <th>Name of School</th>
                <th>City</th>
                <th>Representative</th>
                <th>Contact</th>
                <th>Veterans</th>
                <th>Tuition</th>
                <th>Tuition Aid</th>
                <th>Email(Y/N)</th>
            </tr>
            <% @schools.each do |school| %>
            <tr>
                <td><%= school.name %></td>
                <td><%= school.city %></td>
                <td><%= school.rep %></td>
                <td><%= school.email %></td>
                <td><%= school.veterans %></td>
                <td><%= school.tuition %></td>
                <% if @output.instance_of? Float %>
                <% if @output > school.tuition %>
                <% @output = school.tuition %>
                <% end %>
                <% end %>
                <td><%= @output %></td>
                <td><input type="checkbox" name="name1" />&nbsp;</td>
            </tr>
            <% end %>
        </table>
      </div>
         <a id="button" id = "button-right">Send Email </a>
    </body>
</html>
